.btn {
    margin: $spacer;
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    text-align: center;
    text-decoration: if($link-decoration==none, null, none);
    white-space: null;
    vertical-align: middle;
    cursor: if(true, pointer, null);
    user-select: none;
    border: $input-border-width solid transparent;
    @include button-size( $btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
}