//color

$warningColor: rgb(236, 222, 27);
$infoColor: rgb(0, 140, 255);
$hoverColor: #eb196e;
$btnColor: #55d7dc;
$webColor: #222831;
$invalidColor: 5px solid #a94442;
$validColor: 5px solid #42A948;

//btn

$borderDrawTransition: color 0.25s 0.0833333333s;
$hoverTransition: border-color 0s, width 0.25s, height 0.25s;
$hoverTransitionDelay: 0s, 0s, 0.25s