<div class="center-container separated-container">
    <h1>
        <small> Libro </small>
    </h1>
    <div>
        <div>
            <button class="btn" routerLink="/books">
                <i class="fa fa-hand-point-left"></i>
                <b> Volver a Biblioteca</b>
            </button>
        </div>
    </div>
</div>
<hr />

<div>
    <div>
        <form (ngSubmit)="postPut(data)" #data="ngForm">
            <div class="form-group">
                <input class="form-control" type="text" required placeholder="Título" [(ngModel)]="book.title" #title="ngModel" name="title" />
                <div [hidden]="title.valid || title.untouched" class="danger">
                    El Título es obligatorio
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" required placeholder="Autor" [(ngModel)]="book.author" #author="ngModel" name="author" />
                <div [hidden]="author.valid || author.untouched" class="danger">
                    El Autor es obligatorio
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" required placeholder="Editorial" [(ngModel)]="book.publisher" #publisher="ngModel" name="publisher" />
                <div [hidden]="publisher.valid || publisher.untouched" class="danger">
                    La Editorial es obligatorio
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" required placeholder="Edición" [(ngModel)]="book.edition" #edition="ngModel" name="edition" />
                <div [hidden]="edition.valid || edition.untouched" class="danger">
                    La Edición es obligatorio
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="number" required placeholder="Páginas del Libro" [(ngModel)]="book.pages" #pages="ngModel" name="pages" />
                <div [hidden]="pages.valid || pages.untouched" class="danger">
                    El numero de páginas es obligatorio
                </div>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" required placeholder="ISBN" [(ngModel)]="book.isbn" #isbn="ngModel" name="isbn" />
                <div [hidden]="isbn.valid || isbn.untouched" class="danger">
                    El isbn es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="bookshelf">Click para elegir estantería</label>
                <br>
                <select class="form-control" name="bookshelf" [(ngModel)]="book.bookShelf" required>
                    <option *ngFor="let bookshelf of bookshelves" [value]="bookshelf.genre">{{bookshelf.genre}}</option>
                </select>
                <br>
            </div>
            <div class="form-group">
                <label>Estado</label>
                <div>
                    <button *ngIf="book.borrow" type="button" class="btn">
                        <i class="fa fa-check"></i> Prestado
                    </button>
                    <button *ngIf="!book.borrow" type="button" class="btn">
                        <i class="fa fa-times"></i> No prestado
                    </button>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <button class="login-btn draw-border" type="submit">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>