<nav class="topnav" id="myTopnav">
    <div>
        <a>BiblYo</a>
        <a [routerLink]="['/books']" routerLinkActive="router-link-active">Biblioteca</a>
        <a [routerLink]="['/bookshelves']" routerLinkActive="router-link-active">Estanterías</a>
        <a [routerLink]="['/borrows']" routerLinkActive="router-link-active">Préstamos</a>
        <a [routerLink]="['/we']" routerLinkActive="router-link-active">Acerca de Nosotros</a>
    </div>
    <div class="nav-btn-container">
        <div>
            <button *ngIf="logedUser" class="btn" type="submit" (click)=(logout())><b>LogOut</b></button>
        </div>
        <div>
            <a href="javascript:void(0);" class="icon" (click)=(myFunction())>
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</nav>