<div class="center-container column-container">
    <h1>Quiénes somos</h1>
    <div>
        <img class="responsive" src="assets/img/biblioteca.jpg" alt="">
    </div>
    <div class="center-container">
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit libero, sociis tempor nam turpis facilisi quisque aptent, praesent urna magna molestie ac justo pulvinar. Euismod penatibus sapien tellus proin in placerat aliquam urna suscipit orci, mattis
            phasellus mus parturient taciti porta tempus nisi fames, fermentum enim gravida etiam dictumst scelerisque pulvinar platea curae. Elementum lobortis molestie ac sodales tristique tortor, conubia accumsan imperdiet fames senectus et, metus
            eleifend nam suspendisse hendrerit.</p>
        <p>Risus malesuada tristique vestibulum integer metus nisi lacus magnis curae diam, lacinia per dis sagittis porttitor dictum proin sollicitudin. Cubilia consequat odio arcu fusce elementum ut parturient sapien pretium eget tellus, inceptos sodales
            interdum senectus nulla magnis libero non eleifend per, placerat vivamus enim donec proin bibendum faucibus sollicitudin molestie mollis. Aptent nam felis dui dis aliquet libero a sollicitudin, purus sodales commodo nisi erat velit eget, eros
            pretium ornare bibendum rutrum fames interdum.
        </p>
    </div>
    <h2>Más Info</h2>
    <div>
        <iframe class="responsive" width="560" height="315" src="https://www.youtube.com/embed/9jZuyfiHte0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <h2>Nuestro Equipo</h2>
    <div class="center-container col-row-container">
        <div class="center-container column-container">
            <img src="assets/img/user.jpg" alt="">
            <h4>YI</h4>
        </div>
        <div class="center-container column-container">
            <img src="assets/img/user.jpg" alt="">
            <h4>XIANG</h4>
        </div>
        <div class="center-container column-container">
            <img src="assets/img/user.jpg" alt="">
            <h4>CHEN</h4>
        </div>
    </div>
</div>