<nav class="topnav" id="myTopnav">
    <a>BiblYo</a>
    <a [routerLink]="['/books']" routerLinkActive="router-link-active">Biblioteca</a>
    <a [routerLink]="['/bookshelves']" routerLinkActive="router-link-active">Estanterías</a>
    <a [routerLink]="['/borrows']" routerLinkActive="router-link-active">Préstamos</a>
    <a [routerLink]="['/we']" routerLinkActive="router-link-active">Acerca de Nosotros</a>
    <a href="javascript:void(0);" class="icon" (click)=(myFunction())>
        <i class="fa fa-bars"></i>
    </a>
    <!-- <button *ngIf="!logedUser" class="btn" type="submit" (click)=(logout())><b>LogOut</b></button> -->
</nav>

<router-outlet></router-outlet>

<hr>
<footer>
    <div class="center-container">
        <ul class="social-icons">
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-codepen"></i></a></li>
        </ul>
    </div>
    <div class="center-container">
        <h6>
            Copyright &copy; 2020-2021
        </h6>
    </div>
</footer>