<div>
    <div class="login-container">
        <div class="card">
            <img src="./../../../assets/img/user.jpg" alt="Person" class="card__image" />
            <p class="card__name">Acceso de Usuario</p>
            <div class="grid-container">
                <form [formGroup]="formContent" (ngSubmit)="submitForm()">
                    <div>
                        <input class="form-control" type="text" formControlName="username" placeholder="Usuario"
                            required />
                        <div *ngIf="submit && formContent.controls.username.errors != undefined">
                            <div class="danger" *ngIf="formContent.controls.username.errors.required">
                                Este campo es obligatorio
                            </div>
                            <div class="danger" *ngIf="formContent.controls.username.errors.minlength">
                                Usuario demasiado corto
                            </div>
                        </div>
                    </div>
                    <div>
                        <input class="form-control" type="password" formControlName="password" placeholder="Contraseña"
                            required />
                        <div *ngIf="submit && formContent.controls.password.errors != undefined">
                            <div class="danger" *ngIf="formContent.controls.password.errors.required">
                                Este campo es obligatorio
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="login-btn draw-border" type="submit" [disabled]="!formContent.valid">Log In</button>
                        <button class="login-btn draw-border" type="button" routerLink="/signin">Go Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>