<div class="center-container separated-container">
    <h1>Estanterías</h1>
    <div>
        <div>
            <button class="btn" routerLink="/bookshelf/new">
                <i class="fa fa-swatchbook"></i>
                <b> Registrar Estantería</b>
            </button>
        </div>
    </div>
</div>
<hr>

<p-table *ngIf="!loading && bookshelves.length > 0" #bFilter [value]="bookshelves" dataKey="id" [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10]" [loading]="loading" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="[
      'genre',
    ]">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="genre">Genero</th>
            <th>Operación</th>
        </tr>
        <tr>
            <th>
                <p-columnFilter type="text" field="genre"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bookshelf>
        <tr>
            <td>{{ bookshelf.genre }}</td>
            <td>
                <button pButton class="m p-button-danger" (click)="borrar(bookshelf)" icon="fa fa-user-times">Borrar</button>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="loading" class="alert alert-info text-center">
    <h3 class="alert-heading">Espere por favor ...</h3>
    <i class="fa fa-sync-alt fa-spin fa-10x"></i>
</div>

<div *ngIf="!loading && bookshelves.length === 0" class="alert alert-warning text-center">
    <h3 class="alert-heading">No hay registro</h3>
    <i class="fa fa-exclamation fa-10x"></i>
</div>